<header class="header">
  <a class="logo-container" href="/">
    <img class="logo" src="/images/prism.png"/>
  </a>
  <nav class="nav">
    <% if(locals.title){ %>
        <% if(locals.title !== "Options"){ %>
          <a class="nav-item" href="/">
            <svg class="nav-icon" width="38" height="38" viewBox="144 144 512 512" xmlns="http://www.w3.org/2000/svg"><defs><clipPath id="a"><path d="m148.09 165H651.9v470H148.09z"/></clipPath></defs><g clip-path="url(#a)"><path d="m400.85 165.06L651.9 429.69h-79.727L551.818 562c-5.0898 39.016-25.445 72.941-59.371 72.941h-184.9c-32.23.0-54.281-33.926-59.371-72.941l-20.355-132.31h-79.727l252.75-264.63zm0 54.281-166.24 173.03h25.445l25.445 164.54c0 8.4805 8.4805 40.711 22.051 40.711h184.9c13.57.0 22.051-32.23 23.75-40.711l23.75-164.54h25.445l-164.54-173.03z" fill-rule="evenodd"/></g><path d="m506.02 200.68h50.891v110.26l-50.891-50.891z" fill-rule="evenodd"/></svg>
          </a>
        <% } %>
        <% if(locals.title !== "Artist") { %>
          <a class="nav-item" href="/artist">
            <svg class="nav-icon" width="38" height="38" viewBox="144 144 512 512" xmlns="http://www.w3.org/2000/svg"><g><path d="m4e2 429.91c63.5.0 115.46-51.957 115.46-115.46S463.503 198.99 4e2 198.99s-115.46 51.957-115.46 115.46S336.493 429.91 4e2 429.91zm0-209.92c51.957.0 94.465 42.508 94.465 94.465S451.957 408.92 4e2 408.92s-94.465-42.508-94.465-94.465S348.043 219.99 4e2 219.99z"/><path d="m190.08 601c5.7734.0 10.496-4.7227 10.496-10.496.0-34.637 12.07-68.223 33.586-94.988 27.289-33.586 72.949-45.656 116.51-31.488 31.488 10.496 66.125 10.496 97.613.0 43.559-14.168 89.215-2.0977 116.51 31.488 22.043 26.766 34.113 60.352 34.113 94.988.0 5.7734 4.7227 10.496 10.496 10.496 5.7734.0 10.496-4.7227 10.496-10.496.0-39.359-13.645-77.672-38.836-108.11-33.062-39.887-87.641-55.105-139.6-38.309-27.289 8.9219-57.203 8.9219-84.492.0-51.434-16.793-106.02-2.0977-138.55 38.309-25.191 30.441-38.836 68.75-38.836 108.11.0 5.7734 4.7227 10.496 10.496 10.496z"/></g></svg>
          </a>
        <% } %>
        <% if(locals.title !== "Listen") { %>
          <a class="nav-item" href="/listen">
            <svg class="nav-icon listen-icon" width="45" height="45" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg"><line x1="8"  y1="24" x2="8"  y2="32" /><line x1="16" y1="18" x2="16" y2="38" /><line x1="24" y1="10" x2="24" y2="46" /><line x1="32" y1="16" x2="32" y2="40" /><line x1="40" y1="12" x2="40" y2="44" /><line x1="48" y1="22" x2="48" y2="34" /></svg>
          </a>
        <% } %>
    <% } %>
  </nav>
</header>