<header class="header">
  <a class="logo-container" href="/">
    <img class="logo" src="/images/prism.png"/>
  </a>
  <nav class="nav">
    <% if(locals.title){ %>
        <% if(locals.title !== "Home"){ %>
          <a class="nav-item" href="/">
            <svg class="nav-icon" width="38" height="38" viewBox="144 144 512 512" xmlns="http://www.w3.org/2000/svg"><defs><clipPath id="a"><path d="m148.09 165H651.9v470H148.09z"/></clipPath></defs><g clip-path="url(#a)"><path d="m400.85 165.06L651.9 429.69h-79.727L551.818 562c-5.0898 39.016-25.445 72.941-59.371 72.941h-184.9c-32.23.0-54.281-33.926-59.371-72.941l-20.355-132.31h-79.727l252.75-264.63zm0 54.281-166.24 173.03h25.445l25.445 164.54c0 8.4805 8.4805 40.711 22.051 40.711h184.9c13.57.0 22.051-32.23 23.75-40.711l23.75-164.54h25.445l-164.54-173.03z" fill-rule="evenodd"/></g><path d="m506.02 200.68h50.891v110.26l-50.891-50.891z" fill-rule="evenodd"/></svg>
          </a>
        <% } %>
        <% if(locals.title !== "Artist") { %>
          <a class="nav-item" href="/artist">
            <svg class="nav-icon" width="38" height="38" viewBox="144 144 512 512" xmlns="http://www.w3.org/2000/svg"><g><path d="m4e2 429.91c63.5.0 115.46-51.957 115.46-115.46S463.503 198.99 4e2 198.99s-115.46 51.957-115.46 115.46S336.493 429.91 4e2 429.91zm0-209.92c51.957.0 94.465 42.508 94.465 94.465S451.957 408.92 4e2 408.92s-94.465-42.508-94.465-94.465S348.043 219.99 4e2 219.99z"/><path d="m190.08 601c5.7734.0 10.496-4.7227 10.496-10.496.0-34.637 12.07-68.223 33.586-94.988 27.289-33.586 72.949-45.656 116.51-31.488 31.488 10.496 66.125 10.496 97.613.0 43.559-14.168 89.215-2.0977 116.51 31.488 22.043 26.766 34.113 60.352 34.113 94.988.0 5.7734 4.7227 10.496 10.496 10.496 5.7734.0 10.496-4.7227 10.496-10.496.0-39.359-13.645-77.672-38.836-108.11-33.062-39.887-87.641-55.105-139.6-38.309-27.289 8.9219-57.203 8.9219-84.492.0-51.434-16.793-106.02-2.0977-138.55 38.309-25.191 30.441-38.836 68.75-38.836 108.11.0 5.7734 4.7227 10.496 10.496 10.496z"/></g></svg>
          </a>
        <% } %>
        <% if(locals.title !== "Listen") { %>
          <a class="nav-item" href="/listen">
            <svg class="nav-icon" width="45" height="45" viewBox="0 0 56 56" xmlns="http://www.w3.org/2000/svg"><path d="M24.5898 49.5742C25.5508 49.5742 26.2539 48.8477 26.2539 47.9336V8.0664C26.2539 7.1524 25.5508 6.4258 24.5898 6.4258c-.9374.0-1.6406.7266-1.6406 1.6406V47.9336C22.9492 48.8477 23.6524 49.5742 24.5898 49.5742zm13.6407-4.6875c.9375.0 1.6406-.75 1.6406-1.66399999999999V12.7773c0-.914-.703099999999999-1.664-1.6406-1.664s-1.6641.75-1.6641 1.664V43.2227C36.5664 44.1367 37.293 44.8867 38.2305 44.8867zM17.793 41.0898c.9375.0 1.6406-.726499999999994 1.6406-1.6406V16.5508c0-.9141-.703099999999999-1.6406-1.6406-1.6406-.960999999999999.0-1.6641.7265-1.6641 1.6406V39.4492C16.1289 40.3633 16.832 41.0898 17.793 41.0898zm13.6172-2.5312c.9374.0 1.664-.726599999999998 1.664-1.6406V19.082C33.0742 18.168 32.3476 17.4414 31.4102 17.4414 30.4727 17.4414 29.7695 18.168 29.7695 19.082V36.918C29.7695 37.832 30.4727 38.5586 31.4102 38.5586zm13.6406-4.1953c.9375.0 1.6406-.75 1.6406-1.6641V23.3008C46.6914 22.3867 45.9883 21.6367 45.0508 21.6367c-.961000000000006.0-1.6641.75-1.6641 1.6641v9.3984C43.3867 33.6133 44.0898 34.3633 45.0508 34.3633zM10.9727 32.5117c.9375.0 1.6406-.726599999999998 1.6406-1.6406V25.1289C12.6133 24.2149 11.9102 23.4883 10.9727 23.4883c-.961.0-1.6641.726600000000001-1.6641 1.6406v5.7422C9.3086 31.7851 10.0117 32.5117 10.9727 32.5117z"/></svg>
          </a>
        <% } %>
    <% } %>
  </nav>
</header>