<div class="option-container">
  <div class="options">
    <div class="single-option">
      <a class="option-label" href="<%= locals.options ? locals.options[0].path : "/" %>"><%= locals.options ? locals.option[0].name : "option 1" %></a>
    </div>
    <div class="single-option">
      <a class="option-label" href="<%= locals.options ? locals.options[1].path : "/" %>"><%= locals.options ? locals.option[1].name : "option 1" %></a>
    </div>
  </div>
</div>