<div class="player-area">
  <div class="player-bar">
    <div class="progress-bar">
      <div class="progress"></div>
      <div class="progress-head"></div>
    </div>
    <div class="song-info">
      <img class="album-art" src="./images/artwork/i-just-want-your-love.jpg"/>
      <div class="song-title">I Just want your Love</div>
      <div class="song-artist">Besethda</div>
    </div>
  </div>
</div>