<div class="upload-container">
  <div class="upload-title">Upload</div>
  <div class="upload-area">
    <form class="upload-form">
      <div class="upload-head">Upload a Song:</div>
      <label for="name" class="upload-label">Title:</label>
      <input type="text" id="name" placeholder="Hey Soul Sister" name="title" class="upload-input"/>
      <label for="artist" class="upload-label">Artist:</label>
      <input type="text" placeholder="Maroon 5" id="artist" name="artist" class="upload-input"/>
      <label for="img" class="upload-label">Image</label>
      <input type="file" id="img" name="img" class="upload-file"/>
      <label for="audo" class="upload-label">Audio</label>
      <input type="file" id="audio" name="audio" class="upload-file"/>
      <button class="submit-upload" >Upload</button>
    </form>
  </div>
</div>