* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.main {
  overflow: hidden;
}

.background-vid {
  position: fixed;
  height: 100%;
  z-index: -10;
  opacity: .8;
}

.header {
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.423), rgba(0, 0, 0, 0) 100%);
  display: flex;
  height: 90px;
  justify-content: space-between;
  padding: 0 3%;
  width: 100%;
  z-index: 1;
}

.logo-container {
  width: fit-content;
  height: fit-content;
}

.logo {
  width: 54px;
}

.nav {
  display: flex;
  width: fit-content;
}

.nav-item {
  width: fit-content;
  margin: 0 15px;
}

.nav-icon {
  width: 40px;
  fill: white;
}

.song-display-area {
  display: flex;
  flex-wrap: wrap;
}

.song-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6%;
  width: 100%;
}

.song-display-title {
  font-size: 2rem;
  color: white;
  margin-bottom: 20px;;
}

.layout-toggle {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.layout-icon {
  width: 45px;
  fill: white;
  margin: 0 3px;
  cursor: pointer;

  svg {
    width: 100%;
    pointer-events: none;
  }
}

.icon-divider {
  width: 2px;
  background-color: rgba(255, 255, 255, 0.559);
  height: 28px;
}

#list-icon {
  width: 33px;
  margin-left: 14px;
}

.active {
  fill: purple;
}

.song {
  display: flex;
  cursor: pointer;
  color: white;
}

.list {
  align-items: center;
  border-radius: 4px;
  background: linear-gradient(47deg, rgba(20, 20, 20, 0.317), rgba(0, 0, 0, 0.572));
  height: 48px;
  margin: 4px 1.5%;
  padding: 1px 20px;
  width: 97%;
}

.selected-song.list{
  background: linear-gradient(47deg, rgba(100, 100, 100, 0.317), rgba(84, 84, 84, 0.572));
  border: solid rgba(255, 255, 255, 0.369) 1px
}

.list .img {
  height: 90%;
  aspect-ratio: 1;
  overflow-y: hidden;
}

.list .img .song-img {
  width: 100%;
  height: 100%;
}

.list .song-info {
  display: grid;
  grid-template-columns: 3fr 1fr;
  font-size: 1.1rem;
  padding: 0 20px;
  width: 50%;
}

.list .song-info .song-artist {
  text-decoration: none;
  text-align: end;
  color: white;
}

.box {
  flex-direction: column;
  align-items: center;
  margin: 15px;
  margin-top: 3px;
  width: 180px;
  aspect-ratio: 3/4;
}

.selected-song {
  border-radius: 6px;
  border: solid rgba(255, 255, 255, 0.369) 1px;
}

.selected-song.box .img .song-img {
  transform: scale(.9);
}

.box .img {
  aspect-ratio: 1;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-y: hidden;
}

.box .img .song-img {
  width: 100%;
  transition: .4s ease-in-out all;
}

.box .song-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  flex: 1;
  padding: 9px 7px;
}

.box .song-info .song-artist {
  text-decoration: none;
  color: white;
}