* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.main {
  overflow: hidden;
}

.background-vid {
  position: fixed;
  height: 100%;
  z-index: -10;
  opacity: .8;
}

.header {
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.423), rgba(0, 0, 0, 0) 100%);
  display: flex;
  height: 90px;
  justify-content: space-between;
  padding: 0 3%;
  width: 100%;
  z-index: 1;
}

.logo-container {
  width: fit-content;
  height: fit-content;
}

.logo {
  width: 54px;
}

.nav {
  display: flex;
  width: fit-content;
}

.nav-item {
  width: fit-content;
  margin: 0 15px;
}

.nav-icon {
  width: 40px;
  fill: white;
}

.song-display-area {
  display: flex;
  flex-wrap: wrap;
}

.song-display-title {
  font-size: 2rem;
  color: white;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 5%;
}

.song-list {
  align-items: center;
  border-radius: 4px;
  background: linear-gradient(47deg, rgba(20, 20, 20, 0.317), rgba(0, 0, 0, 0.572));
  display: flex;
  height: 48px;
  margin: 2px 1.5%;
  padding: 1px 20px;
  width: 97%;
}

.img-list {
  height: 90%;
  aspect-ratio: 1;
  overflow-y: hidden;
}

.song-list-img {
  width: 100%;
}

.song-list-info {
  color: white;
  display: grid;
  grid-template-columns: 3fr 1fr;
  font-size: 1.1rem;
  padding: 0 20px;
  width: 50%;
}

.song-list-artist {
  text-decoration: none;
  text-align: end;
  color: white;
}

.song-box {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  margin-top: 3px;
  width: 180px;
  aspect-ratio: 3/4;
}

.img-box {
  aspect-ratio: 1;
  width: 100%;
  overflow-y: hidden;
}

.song-box-img {
  width: 100%;
}

.song-box-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  flex: 1;
  padding: 9px 7px;
}

.song-box-artist {
  text-decoration: none;
  color: white;
}