* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.main {
  overflow: hidden;
}

.background-vid {
  position: fixed;
  height: 100%;
  z-index: -10;
  opacity: .8;
}

.header {
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.423), rgba(0, 0, 0, 0) 100%);
  display: flex;
  height: 90px;
  justify-content: space-between;
  padding: 0 3%;
  width: 100%;
  z-index: 1;
}

.logo-container {
  width: fit-content;
  height: fit-content;
}

.logo {
  width: 54px;
}

.nav {
  display: flex;
  width: fit-content;
}

.nav-item {
  width: fit-content;
  margin: 0 15px;
}

.nav-icon {
  width: 40px;
  fill: white;
}

.song-box {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  aspect-ratio: 3/4;
}

.img-box {
  aspect-ratio: 1;
  width: 100%;
  overflow-y: hidden;
}

.song-box-img {
  width: 100%;
}

.song-box-info {
  width: 100%;
  padding: 5px 4px;
}