* {
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

.main {
  overflow: hidden;
}

.background-vid {
  position: fixed;
  height: 100%;
  z-index: -10;
  opacity: 0.8;
}

.header {
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.423), rgba(0, 0, 0, 0) 100%);
  display: flex;
  height: 90px;
  justify-content: space-between;
  padding: 0 3%;
  width: 100%;
  z-index: 1;
}

.logo-container {
  width: fit-content;
  height: fit-content;
}

.logo {
  width: 54px;
}

.nav {
  display: flex;
  align-items: center;
  width: fit-content;
}

.nav-item {
  width: fit-content;
  margin: 0 15px;
}

.nav-icon {
  stroke: white;
  fill: white;
  stroke-width: 2px;
}

.listen-options {
  color: white;
  font-size: 1.6rem;
}

.option-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.page-title {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  width: 100%;
  text-decoration: none;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  height: 30vh;
  width: 70%;
}

.divider {
  width: 2px;
  height: 25vh;
  background-color: rgba(255, 255, 255, 0.513);
  margin: 0 1%;
}

.single-option {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 49%;
  height: 100%;
  box-shadow: -2px -2px 10px 2px rgba(255, 255, 255, 0.5);
}

.left {
  border-radius: 80px 12px 12px 80px;
  background: linear-gradient(36deg, rgba(113, 0, 165, 0.902), rgb(1, 1, 129));
}

.right {
  border-radius: 12px 80px 80px 12px;
  background: linear-gradient(36deg, rgb(1, 1, 129), rgb(170, 0, 200));
}

.option-label {
  color: white;
  text-align: center;
  font-size: 1.8rem;
}

.song-display-area {
  display: flex;
  flex-wrap: wrap;
}

.song-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6%;
  width: 100%;
}

.song-display-title {
  font-size: 2rem;
  color: rgb(139, 139, 139);
  margin-bottom: 20px;
  text-decoration: none;
}

.active-title {
  color: white;
}

.layout-toggle {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.layout-icon {
  width: 45px;
  fill: white;
  margin: 0 3px;
  cursor: pointer;

  svg {
    width: 100%;
    pointer-events: none;
  }
}

.icon-divider {
  width: 2px;
  background-color: rgba(255, 255, 255, 0.559);
  height: 28px;
}

#list-icon {
  width: 33px;
  margin-left: 14px;
}

.active {
  fill: purple;
}

.artist-title,
.playlist-name {
  font-size: 1.9rem;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

.artist-description {
  color: white;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
}

.song {
  display: flex;
  cursor: pointer;
  color: white;
}

.list {
  align-items: center;
  border-radius: 4px;
  background: linear-gradient(
    47deg,
    rgba(20, 20, 20, 0.317),
    rgba(0, 0, 0, 0.572)
  );
  height: 48px;
  margin: 4px 1.5%;
  padding: 1px 20px;
  width: 97%;
}

.selected-song.list {
  background: linear-gradient(
    47deg,
    rgba(100, 100, 100, 0.317),
    rgba(84, 84, 84, 0.572)
  );
  border: solid rgba(255, 255, 255, 0.369) 1px;
}

.list .img {
  height: 90%;
  aspect-ratio: 1;
  overflow-y: hidden;
}

.list .img .song-img {
  width: 100%;
  height: 100%;
}

.list .song-info {
  display: grid;
  grid-template-columns: 3fr 1fr;
  font-size: 1.1rem;
  padding: 0 20px;
  width: 50%;
}

.list .song-info .song-artist {
  text-decoration: none;
  text-align: end;
  color: white;
}

.box {
  flex-direction: column;
  align-items: center;
  margin: 15px;
  margin-top: 3px;
  width: 180px;
  aspect-ratio: 3/4;
}

.selected-song {
  border-radius: 4px;
  border: solid rgba(255, 255, 255, 0.369) 1px;
}

.selected-song.box .img .song-img {
  transform: scale(0.9);
}

.box .img {
  aspect-ratio: 1;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow-y: hidden;
}

.box .img .song-img {
  width: 100%;
  transition: 0.4s ease-in-out all;
}

.box .song-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  flex: 1;
  padding: 9px 7px;
}

.box .song-info .song-artist {
  text-decoration: none;
  color: white;
}

.upload-container {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
}

.upload-title {
  width: 100%;
  color: white;
  font-size: 1.8rem;
  padding: 10px 5%;
}

.upload-head {
  font-size: 1.9rem;
  color: white;
  text-align: center;
  padding-bottom: 10px;
}

.upload-area {
  padding: 5px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-form {
  display: flex;
  border: 2px solid white;
  border-radius: 12px;
  flex-direction: column;
  padding: 24px 20px;
  border: 2px solid white;
  border-radius: 12px;
  margin: 20px 0;
}

.upload-label {
  font-size: 1.6rem;
  color: white;
  padding: 3px 8px;
}

.upload-input {
  margin-bottom: 16px;
  padding: 4px;
  font-size: 1.4rem;
  color: white;
  background: transparent;
  border-radius: 4px;
}

.upload-file {
  font-size: 1.4rem;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.717);
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 12px;
  text-align: right;
}

input[type="file"]::file-selector-button {
  background: transparent;
  font-size: 1.3rem;
  margin: 3px 3px;
  color: white;
  cursor: pointer;
  border: none;
  text-decoration: double;
  transition:.2s all ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: white;
  color: black;
}

.submit-upload {
  color: white;
  font-size: 1.7rem;
  background: transparent;
  border: solid rgba(255, 255, 255, 0.717) 1px;
  border-radius: 4px;
  margin-top: 12px;
  padding: 4px;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.submit-upload:hover {
  color: black;
  background: white;
}

.dashboard-container {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 25px;
  color: white;
}

.dashboard-option {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px 8px;
  border: solid white 1px;
  border-radius: 4px;

  div {
    text-align: center;
  }
}

.dashboard-option-title {
  font-size: 1.8rem;
  width: 100%;
}

.dashboard-option-value {
  font-size: 1.6rem;
  width: 100%;
}

.playlist-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.playlist-container {
  padding: 0 2%;
  display: flex;
}

.playlist {
  display: flex;
  flex-direction: column;
  min-width: 180px;
  width: 10%;
  aspect-ratio: 1/1.2;
  font-size: 1.3rem;
  padding: 4px;
  margin: 12px;
  border: 1px solid rgba(255, 255, 255, 0.509);
  border-radius: 4px;
}

.playlist-photo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playlist-image {
  width: 100%;
  aspect-ratio: 1;
}

.playlist-title {
  color: white;
  text-align: center;
  padding: 8px 0;
}

@media (orientation: portrait) {
  .single-option {
    height: 70%;
  }

  .option-label {
    font-size: 1rem;
  }

  .playlist {
    width: 130px;
    min-width: 130px;
    font-size: .9rem;
  }

  .box {
    width: 130px;
    font-size: .9rem;
  }

  .box .song-info {
    padding: 5px 3px;
  }

  .list {
    height: 36px;
  }

  .list .song-info {
    padding: 10px;
    width: 90%;
    font-size: .9rem;
  }

  .upload-container {
    width: 100%;
    height: fit-content;
  }

  .upload-form{
    width: 80%;
  }
  
  .upload-title {
    font-size: 1.5rem;
  }

  .upload-label {
    font-size: 1.3rem;
  }

  .upload-input {
    font-size: 1.3rem;
  }

  input[type="file"]::file-selector-button {
    font-size: 1.1rem;
  }

  .upload-file {
    font-size: 1.2rem;
    text-align: left;
  }

}